* {
  margin: 0;
  padding: 0;
}
.weui-btn-area {
  margin: 1.17647059em 15px 0.3em;
}
.weui-btn {
  display: block;
  padding-left: 14px;
  padding-right: 14px;
  box-sizing: border-box;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  line-height: 2.55555556;
  border-radius: 5px;
  overflow: hidden;
}
.weui-btn_primary {
  background-color: #1aad19;
}
.weui-btn_disabled {
  color: rgba(255,255,255,0.5);
}
.weui-btn_disabled.weui-btn_primary {
  background-color: #9ed99d;
}
.weui-progress {
  display: flex;
  justify-content: center;
  align-items: center;
}
.weui-progress__bar {
  flex: 1;
  height: 10px;
  background-color: #ebebeb;
}
.weui-progress__inner-bar{
  width: 0;
  background: #1aad19;
  height: 100%;
}
