<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../assets/js/vue.js"></script>
    <title>v-if & v-show & v-else</title>
</head>
<body>
    <h1>v-for 实例</h1>
    <hr>
    <div id="app">
        <ul>
          <li v-for="item in sortItems">
              {{item}}
          </li>
        </ul>
        <hr>
        <ul>
          <li v-for="(student,index) in sortStudents">
            {{index}}:{{student.name}}-{{student.age}}
          </li>
        </ul>
    </div>
    <script type="text/javascript">
        var app=new Vue({
            el:'#app',
            data:{
               items:[52,23,7,14,54,36,28],
               students:[
  {name:'jspang',age:32},
  {name:'Panda',age:30},
  {name:'PanPaN',age:21},
  {name:'King',age:45}
]
            },
            computed:{
              sortItems:function(){
                return this.items.sort(sortNumber);
              },
              sortStudents:function(){
                return sortByKey(this.students,'age')
              }
            }
        });
        function sortNumber(a,b){
            return a-b
  };
  function sortByKey(array,key){
    return array.sort(function(a,b){
      var x=a[key];
      var y=b[key];
      return ((x<y)?-1:((x>y)?1:0));
   });
}
    </script>
</body>
</html>