@import "fn"

*
    margin: 0
    padding: 0
html
    -ms-text-size-adjust: 100%      //pc端
    -webkit-text-size-adjust: 100%    //移动端禁止缩放

body
    line-height 1.5         //行高


a img
    border: 0

a
    text-decoration: none 
    setTapcolor()